<html>
<head>
<title>CARES/NETLAB - Login</title>
</head>
<body>
<h2>Please log into your CARES/NETLAB account</h2>

<em>{{mesg}}</em>

<form action="" method="POST">
<table style="border: solid black 2px; padding: 6px;">
	<tr><td>Username:</td><td><input type="text" name="username" value="{{user}}" size=40 /></td></tr>
	<tr><td>Password:</td><td><input type="password" name="password" size=40 /></td></tr>
	<tr><td></td><td align="right"><input type="submit" value="Login" /></td></tr>
</table>
</form>

</body>
</html>
