<!doctype html>
<html lang="en">
<head>
<title>Success</title>
</head>
<body>
<h2>Success.</h2>  

<p>The {{datatype}} was successfully copied.  You can now retrieve the data on VirtD by going to
<br /><br />
<strong>https://xfer.cares</strong> and use retrieval ID <strong>{{code}}</strong> 
<br /><br />
or directly by this URL: 
<strong>https://xfer.cares/r/{{code}}</strong></p>

<p><em>Reminders:</em>  
<ul>
<li>This URL only works within VirtD, and cannot be accessed here.</li>
<li>Files will automatically be deleted in 14 days.</li>
</ul>
</p>

<p>If you want to copy another file, <a href="{{indexurl}}">click here</a>.
</body>
</html>
